/* Algemene stijl */
.container p,
section {
    padding: 15px;
}

.afbeelding-vast {
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 8px;
    width: 725px;
    height: 361px;
}

/* Media queries voor kleinere schermen */
@media (max-width: 768px) {
    .container h1,
    .container h2 {
        font-size: 1.5rem;
    }

    .afbeelding-vast {
        height: auto;
        width: 100%;
    }

    .navbar-nav {
        font-size: 0.9rem;
    }
}

@media (max-width: 576px) {
    .container p,
    section {
        padding: 10px;
    }

    .afbeelding-vast {
        height: 200px;
        width: 100%;
        margin-bottom: 10px;
    }

    footer p {
        font-size: 0.8rem;
        padding: 10px;
    }
}
